@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');


/*=============================================
=            test            =
=============================================*/
.border{
  border: 1px solid red;
}
/*=====  End of test  ======*/



/*=============================================
=            color            =
=============================================*/
:root {
  --color-primary: hsl(233, 47%, 7%); /*Very dark blue (main background)*/
  --color-secondary:  hsl(244, 38%, 16%); /*Dark desaturated blue (card background)*/
  --color-tertiairy:  hsl(277, 64%, 61%); /*Soft violet (accent)*/

  --paragraph-line: hsla(0, 0%, 100%, 0.75); /*Slightly transparent white (main paragraph)*/
  --heading-line: hsla(0, 0%, 100%, 0.6); /*Slightly transparent white (stat headings)*/

  --white : hsl(0, 0%, 100%); /*(main heading, stats)*/
}
/*=====  End of color  ======*/


  

/*=============================================
=            display            =
=============================================*/
.flex
{
  display: flex;
}
.flex50
{
  flex-basis: 50%;
}
.flex-around
{
  display: flex;
  justify-content: space-around;
}
.flex-column
{
  display: flex;
  flex-direction: column;
}
.flex-column-center
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column-between
{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
/*=====  End of display  ======*/


/*=============================================
=            general            =
=============================================*/
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  background-color: var(--color-primary);

  min-height: 100vh;
}
footer
{
  color: var(--heading-line);
}
/*=====  End of general  ======*/


/*=============================================
=            Main           =
=============================================*/
.card-stats-preview {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  margin: 30px;
  border-radius: 10px;
}
/*----------  image  ----------*/
.card-stats-preview_section-img
{
  max-width: 540px;
  max-height: 446px;
  position: relative;
  flex-basis: 50%;  
}
.card-stats-preview_img--filter
{
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 width: 100%;
 height: 100%;
 
}  
.card-stats-preview_img--filter rect
{
  fill:hsl(277, 70%, 40%);
  opacity: 0.5;
  
}
.card-stats-preview_img
{
  width: 100%;
  height:auto;  
}   
.card-stats-preview_section-img, .card-stats-preview_img--filter, .card-stats-preview_img
{
  border-radius: 0 10px 10px 0;
}
/*----------  desctiption  ----------*/
.card-stats-preview_section-description
{
 flex-basis: 50%;
 padding: 70px;
 max-width: 540px;
 

 display: grid;
 grid-template-rows:auto;
 grid-template-columns: auto;
 gap: 20px 20px;
}
.card-stats-preview_heading
{
  font-family: 'Inter', Courier, monospace;
  font-size: 700;
  color: var(--white);
  grid-area: 1/1/2/4;
  line-height: 120%;
  font-size: 35px;
}
.card-stats-preview_heading span
{
  color: var(--color-tertiairy);
}
.card-stats-preview_p
{
  font-family: Lexend Deca;
  color: var(--paragraph-line);
  grid-area: 2/1/3/4;
  line-height: 170%;
  font-size: 15px;
  font-weight: 300;
}
.card-stats-preview_stats
{
  color: var(--white);
  font-family: 'Inter', Courier, monospace;
}
/*----------  companies templates querries  ----------*/
.card-stats-preview_companies
{
  align-self: end;
  grid-area: 3/1/4/2;
}
.card-stats-preview_templates
 {
  align-self: end;
  grid-area: 3/2/4/3;
 }
 .card-stats-preview_querries
 {
  align-self: end;
  grid-area: 3/3/4/4;
 }
 .card-stats-preview_p--upper
 {
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 5px;
 }
 /*=====  End of Main  ======*/
  

 @media all and (min-width: 501px) and (max-width: 1200px) 
 {
  
  .card-stats-preview
  {
    flex-direction: column-reverse;
  }
  .card-stats-preview_section-img, .card-stats-preview_img--filter, .card-stats-preview_img
  {
    border-radius: 10px 10px 0 0;
  }
 }
 @media all and (min-width: 0px) and (max-width: 600px) 
 {
  *
  {
    text-align: center;
  }
  .card-stats-preview
  {
    flex-direction: column-reverse;
  }
  .card-stats-preview_section-description
  {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .card-stats-preview_companies, .card-stats-preview_templates, .card-stats-preview_querries
  {
    align-self: center;
  }
  .card-stats-preview_section-img, .card-stats-preview_img--filter, .card-stats-preview_img
  {
    border-radius: 10px 10px 0 0 ;
  }
  .card-stats-preview_heading
  {
    font-size: 25px;
  }
  footer
  {
    display: none;
  }
  header
  {
    display: none;
  }
}