@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*test*/
.border{
    border: 1px solid red;
  }
  
  /*Color*/
  
  :root {
      --color-primary: hsl(233, 47%, 7%); /*Very dark blue (main background)*/
      --color-secondary:  hsl(244, 38%, 16%); /*Dark desaturated blue (card background)*/
      --color-tertiairy:  hsl(277, 64%, 61%); /*Soft violet (accent)*/
    
      --paragrph-line: hsla(0, 0%, 100%, 0.75); /*Slightly transparent white (main paragraph)*/
      --very-light-gray: hsla(0, 0%, 100%, 0.6); /*Slightly transparent white (stat headings)*/

      --white : hsl(0, 0%, 100%); /*(main heading, stats)*/
    }

* 
{
  margin: 0;
  padding: 0;
}
  
body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;

    min-height: 100vh;
}